<div class="card shadow-lg p-3">
        
        <div class="card-body">
          
            <form [formGroup]="authForm">
            
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email"
                           id="email"
                           formControlName="email"
                           (blur)="updateErrorMessage()"
                           required
                           class="form-control"
                           placeholder="name@example.com"/>

                    @if(authForm.get('email')?.invalid && authForm.get('email')?.touched){
                        <div class="text-danger mt-1 small">Invalid email</div>
                    }
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password"
                           id="password"
                           formControlName="password"
                           (blur)="updateErrorMessage()"
                           required
                           class="form-control"
                           placeholder="Enter your password"/>

                    @if(authForm.get('password')?.invalid && authForm.get('password')?.touched){
                        <div class="text-danger mt-1 small">Invalid password</div>
                    }
                </div>

                <div class="mb-3">
                    <p class="text-end cursor" (click)="onToggle()">
                        Sign Up
                    </p>
                </div>

                <button type="button" class="btn btn-primary w-100" (click)="login()">
                    <i class="pi pi-sign-in me-2"></i>Login 
                </button>
          
            </form>
        
        </div>
      
</div>
    

