.modal {
  transition: opacity 0.3s linear;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}

.modal.show .modal-dialog {
  transform: translateY(0);
}

.header-grid {
  display: grid !important;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.header-grid .btn-close {
  justify-self: end;
  margin: 0;
}

:host {
  display: block;
  animation: fadeIn 0.3s fadeIn forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
