<div class="row mb-4">
  <div class="col-12 d-flex justify-content-between align-items-center">

    <div>
      <div class="d-flex gap-2">
        <button
          class="btn"
          [ngClass]="concertService.currentFilter() === 'upcoming' ? 'btn-primary' : 'btn-outline-primary'"
          (click)="changeFilter('upcoming')">
          <i class="pi pi-calendar-plus me-2"></i>
          Next concert
        </button>

        <button
          class="btn"
          [ngClass]="concertService.currentFilter() === 'past' ? 'btn-primary' : 'btn-outline-primary'"
          (click)="changeFilter('past')">
          <i class="pi pi-history me-2"></i>
          Past concert
        </button>
      </div>
    </div>

    <div class="align-self-end">

      <button class="btn btn-primary"
              (click)="showModalCreate.set(true)"
             >
        <i class="pi pi-plus me-2"></i>
        New concert
      </button>

    </div>

  </div>

</div>

@if (showModalCreate()) {

   <app-concert-create (close)="showModalCreate.set(false)" />

}
