<div class="modal fade show" id="modalCreate" tabindex="-1" style="display: block;">

  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content">

      <div class="modal-header mb-2 p-2">

        <h1 class="modal-title fs-5">
          Confirm deletion <i class="pi pi-question-circle me-2"></i>
        </h1>

        <button type="button" class="btn-close" aria-label="Close" (click)="onCancel.emit()"></button>

      </div>

      <div class="modal-body">
        <p class="mb-4">Are you sure you want to delete this item? This action cannot be undone.</p>

        <div class="d-flex justify-content-end gap-2">

          <button type="button" class="btn btn-secondary" (click)="onCancel.emit()"><i class="pi pi-times me-2"></i>Cancel</button>

          <button type="button" class="btn btn-danger" (click)="onConfirm.emit()"><i class="pi pi-trash me-2"></i>Delete</button>

        </div>

      </div>

    </div>

  </div>

</div>

