<div class="container">

  <div class="row">

    <div class="col-12 mt-5">

      <div class="card shadow-lg">

        <div class="card-body">

          @if (loginService.currentUser(); as user) {

            @if(user.email) {

              <header>
                <h5>Olá, {{ user.name }}!</h5>               
              </header>

              <main>
                <p>Conteúdo exclusivo de sua conta.</p>
              </main>

            }

          } @else {

             <div class="alert text-warning alert-warning border-warning border-2 mb-2 p-2 shadow-sm" role="alert">

            <div class="flex items-center">

              <i class="pi pi-exclamation-triangle me-2"></i>

              <span class="text-xs font-bold uppercase">Por favor, faça login para acessar recursos adicionais.</span>

            </div>


          </div>


          }

        </div>

      </div>

    </div>

  </div>

</div>


