<div class="container mt-5 d-flex justify-content-center">
  <div class="card collection-card border-0 shadow-lg">
    
    <div class="card-header-gradient p-4 text-center text-white">
      <div class="icon-container mb-3">
        <i class="bi bi-bar-chart-line-fill display-4"></i>
      </div>
      
      <h2 class="fw-bold">My Vinyl collection</h2>
      
    </div>

    <div class="card-body bg-dark-custom p-4">
      <div class="row text-center align-items-center">
        <div class="col-7 border-end border-secondary">
          <p class="text-secondary small mb-1">Estimated total value</p>
          <h2 class="value-text fw-bold">{{ vinylService.totalValue() | currency:'BRL' }}</h2>
        </div>
        <div class="col-5">
          <p class="text-secondary small mb-1">Total records</p>
          <h2 class="records-text fw-bold">{{ vinylService.totalQuantity() }}</h2>
        </div>
      </div>
    </div>

    <div class="card-footer-custom p-3 text-center">
      <small class="text-secondary">Last updated: 20/07/2024</small>
    </div>
    
  </div>
</div>

