:host-context([data-bs-theme="dark"]) .collection-summary__icon {
  background-color: color-mix(in srgb, #8367cf 20%, transparent) !important;
}

:host-context([data-bs-theme="dark"]) .collection-summary__icon mat-icon {
  color: #a98cff;
}

.text-cor-value {
  color: var(--bs-value-primary);
}
