:host {
  display: block;
}

.auth-page {
  min-height: calc(100dvh - 40px);
  margin-top: 40px !important;
  background: var(--bs-body-bg);
}

:host-context([data-bs-theme="dark"]) .auth-page .card {
  border-color: #8367cf !important;
}
