@import "primeicons/primeicons.css";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #363636;
  --bs-body-color: #E8E8E8;
  --bs-danger-rgb: 255, 107, 107;
  --bs-card-subtitle-color: #eb1010;
}

.success-snake {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.success-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snake {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.error-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.success-snake {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.success-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snake {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.error-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.container{
  margin-top: 50px;
}

:root {
  /* --color-primaria: #00539f;
  --color-secudaria: #ba0000;
  --color-primaria2: #0371d8;
  --color-success: #d8f0e1;
  --text-success: #4F8A10;
  --color-error: #EA0038;
  --text-error: #FFF;
  --color-warning: #FEEFb3;
  --text-warning: #9F6000;
  --color-info: #D9EDF7;
  --text-info: #31708F;
  --color-terceiraria: #5e148f; */
  --mat-toolbar-container-text-color: #fff;
}
