@import "primeicons/primeicons.css";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #363636;
  --bs-body-color: #E8E8E8;
  --bs-danger-rgb: 255, 107, 107;
  --bs-primary: #8367cf;
  --bs-primary-hover: #5e148f;
  --bs-danger-bg-subtle:#f8d7da;
}

[data-bs-theme="dark"] h1,
[data-bs-theme="dark"] h5 { color: #EC7000; }
[data-bs-theme="dark"] p { color: #FFFFFF; }
[data-bs-theme="dark"] .modal-header > .d-flex > i{
  color: #EC7000;
}
[data-bs-theme="dark"] .iconCustom > i{
  color: #EC7000;
}

[data-bs-theme="light"] {
  --bs-primary: #00539f;
  --bs-primary-hover: #02396d;
}
[data-bs-theme="light"] h1,
[data-bs-theme="light"] h5,
[data-bs-theme="light"] p { color: var(--bs-primary); }
[data-bs-theme="light"] .modal-header > .d-flex > i{
  color: var(--bs-primary);
}
[data-bs-theme="light"] .iconCustom > i{
  color:var(--bs-primary);
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--bs-primary-hover) !important;
  border-color: var(--bs-primary-hover) !important;
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);

  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-hover-color: #fff;

  color: var(--bs-btn-color);
  border-color: var(--bs-btn-border-color);
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
  color: var(--bs-btn-hover-color) !important;
}

.success-snake {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.success-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snake {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.error-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.success-snake {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.success-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #4caf50 !important;
}

.error-snake {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-label-text-color: #ffffff !important;
  --mat-snack-bar-button-color: #ffffff !important;
}

.error-snake.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #f44336 !important;
}

.container{
  margin-top: 50px;
}

:root {
  /* --color-primaria: #00539f;
  --color-secudaria: #ba0000;
  --color-primaria2: #0371d8;
  --color-success: #d8f0e1;
  --text-success: #4F8A10;
  --color-error: #EA0038;
  --text-error: #FFF;
  --color-warning: #FEEFb3;
  --text-warning: #9F6000;
  --color-info: #D9EDF7;
  --text-info: #31708F;
  --color-terceiraria: #5e148f; */
  --mat-toolbar-container-text-color: #fff;
}
